<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imagedetection">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImageDetection">
        <activity
            android:name=".nhan_dien_do_vat"
            android:label="@string/nhan_dien_do_vat"
            android:exported="true" />
        <activity
            android:name=".dich_van_ban"
            android:label="@string/dich_van_ban"
            android:exported="true" />
        <activity
            android:name=".quet_ma_vach"
            android:label="@string/quet_ma_vach"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>